* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.mainContainer {
  margin: 0 20px;
  width: clamp(15px, 90vw, 1300px);
  background-color: #f6f6ef;
}

.navbarContainer {
  width: clamp(15px, 90vw, 1300px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #ff742b;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5px;
}

#searchbar {
  height: 42px;
  width: 80%;
  background-color: white;
  border: none;
  margin-left: 10px;
}

#searchInput {
  background-color: white;
  width: 65%;
  height: 42px;
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

#glass {
  margin-left: 10px;
  font-size: 1.5rem;
}

#gearIcon {
  font-size: 2.2rem;
}

#inputText {
  font-size: 0.7rem;
}

.navbar p {
  font-size: 18px;
  font-weight: 500;

  flex-wrap: wrap-reverse;
}

.subNavbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.selectContainer {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-left: 5px;
  gap: 8px;
  align-content: center;
  vertical-align: text-bottom;
}

.resultContainer {
  margin-right: 15px;
  display: flex;
  gap: 0.2rem;
}

.results {
  display: flex;
  flex-direction: column;
  background-color: #f6f6ef;
  margin: 0 5px;
}

.resultElement {
  padding: 5px;
  margin: 0px 0px;
}

.resultTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.resultTitleElement {
  font-size: 1rem;
  padding: 5px;
}

.resultTitleLink {
  font-size: 0.8rem;
  color: #696969;
  text-decoration: none;
  margin-left: 2px;
  display: flex;
}

.resultFooter {
  display: flex;
  gap: 3px;
  font-size: 0.75rem;
  color: #696969;
}

.loadingContainer {
  display: flex;
  justify-content: center;
}

#loadingElement {
  padding: 20px;
  font-size: 25px;
}

#icon {
  width: 48px;
  margin-left: 10px;
  background-color: #ff742b;
}

.button {
  border: 1px solid;
  padding: 5px 10px;
  background-color: #f6f6ef;
  font-size: 0.8rem;
}

.button:active {
  color: red;
}

.active {
  background-color: rgb(33, 7, 7);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: beige;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 5px;
}

.footer {
  display: flex;
  margin: 25px 30px;
  justify-content: center;
}

.footer li {
  font-size: 12px;
  margin: 0 10px;
}

.footer li:first-child {
  list-style-type: none;
}

.reactIcon {
  font-size: 1.5rem;
}
