* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.mainContainer {
  margin: 20px;
  width: 900px;
  background-color: #f6f6ef;
}

.navbarContainer {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #ff742b;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#searchbar {
  width: 70%;
  height: 2rem;
  background-color: aliceblue;
}

.navbar p {
  margin-left: 5px;
  margin-right: 5px;
}

.results {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 240, 237);
  margin: 0 5px;
}

.resultElement {
  padding: 5px;
  margin: 0px 0px;
}

.resultTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.resultTitleElement {
  font-size: 1rem;
  padding: 5px;
}

.resultTitleLink {
  font-size: 0.8rem;
  color: #696969;
  text-decoration: none;
  margin-left: 2px;
  display: flex;
}

.resultFooter {
  display: flex;
  gap: 3px;
  font-size: 0.75rem;
  color: #696969;
}

.loadingContainer {
  display: flex;
  justify-content: center;
}

#loadingElement {
  padding: 20px;
  font-size: 25px;
}

#icon {
  width: 50px;
  margin-left: 10px;
  background-color: #ff742b;
}

.button {
  border: 1px dashed gainsboro;
  padding: 5px;
}

.button:active {
  color: red;
}

.active {
  background-color: rgb(33, 7, 7);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: beige;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 5px;
}

.footer {
  display: flex;
  margin: 0 30px;
  justify-content: center;
}

.footer li {
  font-size: 12px;
  margin: 0 10px;
}

.footer li:first-child {
  list-style-type: none;
}

.dots {
  align-self: flex-end;
}
